<%- include('header'); -%>


    <div class="box" id="heading">

        <% if(locals.title) {%>
                <% title = title.replace(/,/g, "") %>
                <h1><%= title.title() %></h1>
        <% } %>
    </div>

    <div class="box">
        <% if(locals.todoList) {%>
            <% todoList.forEach((item)=> {%>
                <div class="item">
                        <% todo = item.todo.title() %>
                        <input type="checkbox" class="cross-out"/>
                        <p class="item-info">
                            <%= todo %>
                        </p>
                        <form method="POST" action="/update">
                            <input type="hidden" class="update-item" name="item" value="" />
                            <input type="hidden" name="id" value="<%= item.id %>" />
                        <a class="update-btn" style="display:none"><i class="fa-sharp fa-solid fa-check fa-sm"></i></a>
                        </form> 
                        <form id="delete-item" action="/delete-item" method="POST">
                            <input type="hidden" name="item" value="<%= item.todo %>"/>
                            <input type="hidden" name="id" value="<%= item.id %>"/>
                            <img onclick="this.parentNode.submit()" class="delete-item" src="./images/delete.png"/>
                        </form>
                </div>
                <% }); %>
            <% } %>
    </div>
    <div class="box">
        <form class="item" action="/add-item" method="POST">
            <input type="text" name="item" placeholder="add item" required pattern="^[\w\s\W]+$" autocomplete="off"/>
            <div id="include-item-submit">
                <button type="submit"><strong>+</strong></button> 
            </div>
        </form>
    </div>

    <script>
        let p = document.querySelectorAll(".item-info")
        p
        ?
        p.forEach((e,idx) =>{
            e.addEventListener('click', ()=>{

            e.setAttribute("contenteditable", "true")
            document.querySelectorAll(".update-btn")[idx].style.display = "inline-block"
            })
        })
        :
        null

        let a = document.querySelectorAll(".update-btn")
        a
        ?
        a.forEach((x,idx) =>{
            x.addEventListener("click", ()=>{

            let e = document.querySelectorAll(".update-item")[idx]
            let p = document.querySelectorAll(".item-info")[idx]
            e.setAttribute("value", p.innerHTML.trim())
            x.parentNode.submit()
            })
        })
        :
        null

        function alterbox(err){
            if(err){

                alert(err)
            }
        }

        alterbox("<%= locals.error %>")
    </script>
<%- include('footer'); -%>